@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&family=Lato:wght@300&family=Monoton&display=swap');
:root{
    --color-primary: black;
    --color-primary-variant: rgb(242,243,248);
    --color-secondary: #daa520;
    --color-secondary-variant: #f8ae45;
    --fondo-layout:white;
    --overlay: rgba(0, 0, 0, 0.7);
}
body{
    margin: 0;
    padding: 0;
    background-color: #0F1112;
    font-family: 'Heebo', sans-serif;

}
/* TODO css del login */
.imagelogin{
    background: url('../img/índice.jpg') no-repeat;
    width: 20rem;
    height: 30rem;
    justify-content: center;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -15px 0 10px -10px var(--color-secondary);
}
/*
Mobile size
 */
.login {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.titleslogin{
    color: var(--color-primary);
}

.login-form{
    display: flex;
    background-color: var(--color-primary-variant);
    width: 20rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#erroreslogin{
    color: red;
    display: flex;
}
.loginButton{
    border: none;
    background: var(--color-secondary);
    color: var(--fondo-layout);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    width: 7rem;
    height: 2rem;
}

.loginButton:hover{
    background:var(--color-secondary-variant);
    align-self: center;
    letter-spacing: 0.2em;
    box-shadow: 0 0 5px var(--overlay) inset;
}
/* TODO css del signup */


.image{
    background: url('../img/índice.jpg') no-repeat;
    width: 20rem;
    height: 30rem;
    justify-content: center;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -15px 0 10px -10px var(--color-secondary);
}

.signup-form {
    display: flex;
    background-color: var(--color-primary-variant);
    width: 20rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.signup{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;  
}

.signupButton{
    border: none;
    background: var(--color-secondary);
    color: var(--fondo-layout);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    width: 7rem;
    height: 2rem;
}

.signupButton:hover{
    background:var(--color-secondary-variant);
    align-self: center;
    letter-spacing: 0.2em;
    box-shadow: 0 0 5px var(--overlay) inset;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.button{
    display: flex;
    justify-content: center;
}

form>div input{
    border: none;
    font-weight: bold;
    width: 12rem;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--overlay) inset;
    margin-top: 0.3rem;
    padding-left: 1rem;
}

form>div input:hover{
    box-shadow: 0 0 7px var(--color-secondary) inset;
}

input[type="password" i] {
    -webkit-text-security: circle;     
} 

 .title{
    color: var(--color-primary);
 }

.logo{
    position: absolute;
    top: 18%;
    left: 51%;
}

 .logo img{
    width: 5rem;
    height: 4rem;
 }
 
 span{
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1.8rem;
 }

 span:hover{
    color: var(--color-secondary);
    cursor: pointer;
 }

@media only screen and (max-width: 40em){

/*
TODO MEDIA LOGIN
 */
    .login{
        background: url('../img/índice.jpg') no-repeat;
        background-size: cover;
        flex-direction: column;
        color: var(--fondo-layout);
    }
    .imagelogin{
        display: none;
    }

    .login-form{
        width: 16rem;
        height: 23rem;
        align-self: center;
        border-radius: 1rem;
        color: var(--color-primary);
    }
    .titleslogin{
        position: relative;
        top:-8%;
        color: var(--color-primary);
    }
    .loginButton{
        margin-top: 1rem;
    }
    .registro{
        font-size: 0.9rem;
    }
/*
TODO MEDIA SIGN UP
 */
.signup-form {
    width: 16rem;
    height: 25rem;
    align-self: center;
    border-radius: 1rem;
    color: black;
}

.signup{
    background: url('../img/índice.jpg') no-repeat;
    background-size: cover;
    flex-direction: column;
    color: var(--fondo-layout);
}

.signupButton{
    margin-top: 1rem;
}

form{
    position: relative;
    top: -10%;
}
 .title{
     position: relative;
     top:-20%;
     color: white;
 }
 .image{
     display: none;
 }

 .logo{
    top: 1%;
    left: 2%;
 }

 span{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
 }

 .password input{
    width: 10rem;  
}

}

